<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=devide-width, initial-scale=1.0" >
        <title> Build Log </title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">

        <!-- jQuery -->
        <script src="components/jquery/dist/jquery.min.js"></script>

        <!-- Bootstrap JS -->
        <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Angular JS -->
        <script src="components/angular/angular.min.js"></script>
        <script src="components/angular-route/angular-route.min.js"></script>

        <!-- Angular Script -->
        <script src="js/historyApp.js"></script>
    </head>

    <body>
        <!-- Container -->
        <div class="container" ng-view>
            <div class="row">
                <h1> Build Log </h1>
            </div>

            <div ng-app="historyApp">
                <div data-ng-controller="LogController" data-ng-init="init()">
                    {{log}}
                <div>
            </div>

        </div>
    </body>
</html>